<!DOCTYPE html>
            <html lang="en">
              <center>
            
                                      <head>
                                      <meta charset="utf-8">
                                      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                                      <meta http-equiv="x-ua-compatible" content="ie=edge">
                                      <title></title>
                                    
                                       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
                                      <!-- Bootstrap core CSS -->
                                      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
                                      <!-- Material Design Bootstrap -->
                                      <link href="/stylesheets/mdb.min.css" rel="stylesheet">
                                      <!-- Your custom styles (optional) -->
                                      <link href="/stylesheets/style.min.css" rel="stylesheet">
                                      <style type="text/css">
                                        html,
                                        body,
                                        header,
                                        .view {
                                          height: 100%;
                                        }
                                    
                                        @media (max-width: 740px) {
                                          html,
                                          body,
                                          header,
                                          .view {
                                            height: 1000px;
                                          }
                                        }
                                    
                                        @media (min-width: 800px) and (max-width: 850px) {
                                          html,
                                          body,
                                          header,
                                          .view {
                                            height: 650px;
                                          }
                                        }
                                        @media (min-width: 800px) and (max-width: 850px) {
                                                  .navbar:not(.top-nav-collapse) {
                                                      background: #1C2331!important;
                                                  }
                                              }
                                      </style>
                                    </head>
                                    
                                    <body>
                                    <center>
                                     <div class="col-md-6 col-xl-5 mb-4">
                                    
                                                <!--Card-->
                                                <div class="card" style="margin-right: -450px;
                                                margin-left: 430px;">
                                    
                                                  <!--Card content-->
                                                  <div class="card-body">
                                                      
                                                        <% if(data.length==0){%>
                                                          <h3>Record Not Found.....</h3>
                                                          <%} else { %>
                                    
                                                    <!-- Form -->
                                                    <form action='/batchtime/editbatch' method='post'>
                                                      <!-- Heading -->
                                                      <h3 class="dark-grey-text text-center">
                                                        <strong><b><i>BATCHTIME</i></b></strong>
                                                      </h3>
                                                      <hr>
                                                      
                                                     
                                                        
                                                            <div class="md-form">
                                                                <input type="number"  name='batchid' value='<%=data[0].batchid%>' >
                                                                <label for="form8">Batch-Id:</label>
                                                            </div>
                                                            
                                                                
          
                                                   
                                                   
                                                   
                                                
                                                <div class="md-form">
                                                    
                                                      
                                                
                                                        <input type="date"  name='addedon'  value='<%=data[0].addedon%>'>
                                                        <label for="text">ADDED ON</label>
                                                      </div>
                                                    

                                                      <div class="md-form">
                                                          
                                                       <input type="text" name='addedby'   value='<%=data[0].addedby%>'>
                                                       <label for="text">ADDED by</label>
                                                        </div>
                                                      
                                                        <div class="md-form">
                                                            
                                                          
                                                          <input type="date"  name='lastupdate' value='<%=data[0].lastupdate%>'>
                                                          <label for="text">Last Update</label>
                                                         </div>
                                                         

                                                         <div class="container">
                                                          <div class="row">
                                                              <label for="from">From:</label>
                                                              <div class='col-sm-2'style="
                                                              margin-left: 146px">
                                                                  <div class="form-group">
                                                                      <div class='input-group date' id='fromtime' >
                                                                          <input type='text' class="form-control" name="fromtime"value='<%=data[0].fromtime%>'/>
                                                                          <span class="input-group-addon">
                                                                              <span class="glyphicon glyphicon-time"></span>
                                                                          </span>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              
                                                          </div>
                                                      </div>
                                                      
                                                      <div class="container">
                                                          <div class="row">
                                                              <label for="to">To:</label>
                                                              <div class='col-sm-2' style="
                                                              margin-left: 165px">
                                                                  <div class="form-group">
                                                                      <div class='input-group date' id='totime'>
                                                                          <input type='text' class="form-control" name="totime" value='<%=data[0].totime%>'/>
                                                                          
                                                                          <span class="input-group-addon">
                                                                              <span class="glyphicon glyphicon-time"></span>
                                                                              
                                                                          </span>
                                                                          
                                                                      </div>
                                                                      </div>
                                                                  </div>
                                                                  
                                                              </div>
                                                              
                                                          </div>
                                                      
            <!--
                                                      
                                                          
                                                          
                                                        </div>
                                                        
                                                        <%
                                                        var d=new Date(data[0].currentdate)
                                                       if(d.getMonth()>=9)
                                                        mp=''
                                                      else
                                                        mp='0'
                        
                                                      if(d.getDate()>=9)
                                                      dp=''
                                                      else
                                                       dp='0'
                        
                                                     bd=d.getFullYear()+"-"+(mp+(d.getMonth()+1))+"-"+(dp+d.getDate());
                        
                                                       %>
                                                       
                                                       <div class="col-md-6">
                                                        <input type="date" name='currentdate' class="form-control" value='<%=bd%>'>
                                                        <label for="form2"></label>
                                                      </div>
                                                       </div>
                                                      </div>
                                                      <div class="md-form">
            
                                                          <div class="row">
                                                      <div class="col-md-4">
                                                  
                                                        <input type="text" id="form8" name='addby'class="form-control" value='<%=data[0].addby%>' class="md-textarea">
                                                        <label for="form8">Add By</label>
                                                      </div>
                                                      <%
                                                      var d=new Date(data[0].updateon)
                                                      if(d.getMonth()>=9)
                                                      mp=''
                                                      else
                                                      mp='0'
                                                      
                                                      if(d.getDate()>=9)
                                                      dp=''
                                                      else
                                                      dp='0'
                                                      
                                                      bo=d.getFullYear()+"-"+(mp+(d.getMonth()+1))+"-"+(dp+d.getDate());
                                                      
                                                      %>
                                                      
                                                      <div class="col-md-6">
                                                         <input type="date"  name='updateon'class="form-control" value='<%=bo%>' >
                                                          <label for="form8"> </label>
                                                        </div>
                                                          </div>
                                                          </div>
                                                          <div class="md-form">
                                                          -->
                                                          <div class="text-center"><button class="btn btn-success" value="Update" name="btn">Update</button><button class="btn btn-indigo" value="delete" name="btn">Delete</button>
                                                           </div>
                                                          </form>
                                                        </center>




                                                        </div>
                                                      </div>
<!--                                                        </div>
                                                          </div>
                                                         <div class="container">
                                                     <table>
                                                       <tr>
                                                         <td>
            
                                              <div class="col-md-2">
                                                  <div class="md-form">
                                                 <form action='/new/updatepicture' method='post' enctype="multipart/form-data">
                                                  <br><br><br>
                                                  <input type='hidden'name='loginid' value='<%=data[0].loginid%>'>
                                                  <img src='http://localhost:3000/images/<%=data[0].picture%>' width='300' height='300'><br><br>
                                                  <input type='file' name='picture'><br><br>
                                                  <button class="btn-btn-indigo" name="btn" value='Update Picture'>Update Picture</button>
                                                
                                                
                                                </div>
                                              
                                                </td>
                                                
                                              </form>  
                                              </tr>        
                                            </div>
                                          </div>
                                                       
                                                        </table>
                                                        
                                                  
                                                
                                                  <%}%> 
                                                    
                                                    <!-- Form -->
                                                  
                                                  
                                                 
                                                 <!--/.Card-->
                                    
              
                                                                                         
                            <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
                      <!-- Bootstrap tooltips -->
                      <script type="text/javascript" src="/javascripts/popper.min.js"></script>
                      <!-- Bootstrap core JavaScript -->
                      <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
                      <!-- MDB core JavaScript -->
                      <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
                      <!-- Initializations -->
                      <script type="text/javascript">
                      // Animations initialization
                      new WOW().init();
                      </script>
                      </body>
                        </center>        
                      </html>

                      <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
                      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                                           <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
                      
                      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
                      
                      
                      <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
                      
                      
                      
                      <script type="text/javascript">
                        $(function () {
                            $('#fromtime').datetimepicker({
                                format: 'LT'
                            });
                        });
                      
                        $(function () {
                            $('#totime').datetimepicker({
                                format: 'LT'
                            });
                        });
                      </script>