<!DOCTYPE html>
<html lang="en">
              <center>
<script src="/javascripts/js/jquery-3.3.1.min.js"></script>
                       <script src="/javascripts/js/fill.js"></script>

  <head>
    <title>DATABASE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
                                      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                                      <meta http-equiv="x-ua-compatible" content="ie=edge">
                                      <title></title>
                                      <!-- Font Awesome -->
                                      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
                                      <!-- Bootstrap core CSS -->
                                      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
                                      <!-- Material Design Bootstrap -->
                                      <link href="/stylesheets/mdb.min.css" rel="stylesheet">
                                      <!-- Your custom styles (optional) -->
                                      <link href="/stylesheets/style.min.css" rel="stylesheet">
                                      <style type="text/css">
                                        html,
                                        body,
                                        header,
                                        .view {
                                          height: 100%;
                                        }
                                    
                                        @media (max-width: 740px) {
                                          html,
                                          body,
                                          header,
                                          .view {
                                            height: 1000px;
                                          }
                                        }
                                    
                                        @media (min-width: 800px) and (max-width: 850px) {
                                          html,
                                          body,
                                          header,
                                          .view {
                                            height: 650px;
                                          }
                                        }
                                        @media (min-width: 800px) and (max-width: 850px) {
                                                  .navbar:not(.top-nav-collapse) {
                                                      background: #1C2331!important;
                                                  }
                                              }
                                      </style>
  </head>
  <body>
      <div class="col-md-6 col-xl-5 mb-4">
                                    
          <!--Card-->
          <div class="card" style="margin-top:10px">

            <!--Card content-->
            <div class="card-body">
      <% if(data.length==0){%>
        <h3>Record Not Found.....</h3>
        <%} else { %>

   
          
    
    <form action="/fees/editfees" method="post"  >
       
       
       <h3 class="dark-grey-text text-center">
          <strong><b><i>CourseFee Detail</i></b></strong>
        </h3>
        <hr>
        <div class="md-group">
                                  
                                    
                                   
          </div>

          <div class="md-form">
                      <label for="form2">Transaction-Id</label>
                       <div class="col-xl-5">
                          
                          <input type="number"  name='transactionid'  value='<%=data[0].transactionid%>' >
                          
                                </div></div>
                                                
              
                                <div class="md-form">
                                    <label for="form2">Coursename</label>
                <div class="col-xl-5">
                <select class="form-control" id="courses" name="courseid" value="<%=data[0].courseid%>" >
                  <option ><%=data[0].courseid%></option>
                  
                  
                </select>
                
              </div></div>
            
            
                        <%
                       var p=new Date(data[0].addedon)
                        if(p.getMonth()>=9)
                         mp=''
                     else
                         mp='0'
                        
                       if(p.getDate()>=9)
                        dp=''
                     else
                        dp='0'
                        
                        cn=p.getFullYear()+"-"+(mp+(p.getMonth()+1))+"-"+(dp+p.getDate());
                    
                    %>
                        
                        
                        <div class="md-form">
                            <label for="form2">Added on</label>
                            <div class="col-xl-5">
                          <input type="date" id="form2" name='addedon' value='<%=cn%>'>
                          
                        </div></div>





                        <div class="md-form">
                            <label for="form2">Added By</label>
                            <div class="col-xl-5">
                          <input type="text" id="form2" name='addedby' value='<%=data[0].addedby%>'>
                          
                        </div></div>









                        <%
                                                      var t=new Date(data[0].lastupdate)
                                                      if(t.getMonth()>=9)
                                                      mp=''
                                                      else
                                                      mp='0'
                                                      
                                                      if(t.getDate()>=9)
                                                      dp=''
                                                      else
                                                      dp='0'
                                                      
                                                      cd=t.getFullYear()+"-"+(mp+(t.getMonth()+1))+"-"+(dp+t.getDate());
                                                      
                                                      %>            
                        
            
                        <div class="md-form">
                            <label for="form2">Last Update</label>
                            <div class="col-xl-5">
                          <input type="date" id="form2" name='lastupdate' value='<%=data[0].lastupdate%>'>
                          
                        </div></div>






                        <div class="md-form">
                            <label for="form2">Fees</label>
                            <div class="col-xl-5">
                          <input type="number" name='fees'id="fees" value='<%=data[0].fees%>'>
                          
                        </div></div>

                        
                            
                                <div class="text-center">
                        <button class="btn btn-success" value="Update" name="btn">Update</button><button class="btn btn-indigo" value="delete" name="btn">Delete</button>
                        
                        </div>



            
              
        
      
      </form>

  <%}%>
              </body>
            </html>
            
            