<!DOCTYPE html>
            <html lang="en">
              <center>
                <script src="/javascripts/js/jquery-3.3.1.min.js"></script>
                <script src="/javascripts/js/fill.js"></script>
<html>
<head>
<title>DATABASE</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
                                      <head>
                                      <meta charset="utf-8">
                                      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                                      <meta http-equiv="x-ua-compatible" content="ie=edge">
                                      <title></title>
                                      <!-- Font Awesome -->
                                      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
                                      <!-- Bootstrap core CSS -->
                                      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
                                      <!-- Material Design Bootstrap -->
                                      <link href="/stylesheets/mdb.min.css" rel="stylesheet">
                                      <!-- Your custom styles (optional) -->
                                      <link href="/stylesheets/style.min.css" rel="stylesheet">
                                      <style type="text/css">
                                        html,
                                        body,
                                        header,
                                        .view {
                                          height: 100%;
                                        }
                                    
                                        @media (max-width: 740px) {
                                          html,
                                          body,
                                          header,
                                          .view {
                                            height: 1000px;
                                          }
                                        }
                                    
                                        @media (min-width: 800px) and (max-width: 850px) {
                                          html,
                                          body,
                                          header,
                                          .view {
                                            height: 650px;
                                          }
                                        }
                                        @media (min-width: 800px) and (max-width: 850px) {
                                                  .navbar:not(.top-nav-collapse) {
                                                      background: #1C2331!important;
                                                  }
                                              }
                                      </style>
                                    </head>
                                    
                                    <body>
                                    
                                     <div class="col-md-6 col-xl-5 mb-4">
                                    
                                                <!--Card-->
                                                <div class="card" style="margin-top:10px">
                                    
                                                  <!--Card content-->
                                                  <div class="card-body">
                                                      
                                                        <% if(data.length==0){%>
                                                          <h3>Record Not Found.....</h3>
                                                          <%} else { %>
                                    
                                                    <!-- Form -->
                                                    <form action='/student/editstudent' method='post'>
                                                      <!-- Heading -->
                                                      <h3 class="dark-grey-text text-center">
                                                        <strong><b><i>STUDENT  INFORMATION</i></b></strong>
                                                      </h3>
                                                      <hr>
                                                      
                                                     
                                                        <div class="container">
                                                            <div class="md-form">
                                                                 <div class="row">
                                                                     <div class="col-xl-5">
                                                                
                                                                        <input type="number"  name='transactionid' class="form-control" value='<%=data[0].transactionid%>' >
                                                                               <label for="form3">Transaction-Id:</label>
                                                                              </div>
                                                                              <div class="col-md-6">
                                                                
                                                                                <input type="text" id="form3" name='studentname' class="form-control"   value='<%=data[0].studentname%>'>
                                                                                 <label for="form3">Student Name</label>
                                                                            </div>
                                                                      
                                                                          </div>
                                                                        </div>                                                                      
                                                                         </div>
                                                                  
                                                                         <% if(data[0].gender=='Male')
                                                                         {
                                                                          mstatus='Checked';
                                                                          fstatus='';   
                                                                         }
                                                                         else
                                                                         {mstatus='';
                                                                         fstatus='Checked';   
                                                                      
                                                          
                                                                         } %>   
                                                          
                                                                         <div class="md-form">
                                                                          <div class="col-md-6">                                                       
                                                                          
            <input type='radio' <%=mstatus %> name='gender' value='Male'>Male
            <input type='radio' <%=fstatus %> name='gender' value='Female'>Female
                                                                          <label for="form2"></label>
                                                                        </div>
                                                                        </div>                         
                                        
                                                                      <div class="md-form">
                                                                          <div class="col-md-6">                                                       
                                                                          <input type="text" name='mobileno' class="form-control" value='<%=data[0].mobileno%>'></div>
                                                                          <label for="form2">Mobile No</label>
                                                                        
                                                                        </div>
                                                    
                                                                          <div class="md-form">
                                                                              <div class="col-md-6">
                                                                          <input type="text" id="form8" name='collegename'class="form-control" value='<%=data[0].collegename%>' class="md-textarea"></div>
                                                                          <label for="form8" >College Name:</label>
                                                                        
                                                                        </div>
                                                                    
              
                                                                          <div class="md-form">
                                                                              <div class="col-md-6">
                                                                           <input type="text"  name='semester'class="form-control" value='<%=data[0].semester%>' ></div>
                                                                            <label for="form8"> Semester:</label>
                                                                          </div>
                                                                        
                                                                          <div class="md-form">
                                                                            <div class="col-md-6">
                                                                         <input type="text"  name='branch'class="form-control" value='<%=data[0].branch%>' ></div>
                                                                          <label for="form8"> Branch:</label>
                                                                        </div>
                                                                     
                                                                        <div class="md-form">
                                  
                                                                          <select class="form-control"  id="courses"     name="courseid" >
                                                                            <option value="<%=data[0].coursename%>"><%=data[0].coursename%></option>
                                                                            
                                                                          </select>
                                                                        </div>
                                                                        
                                                                       <div class="md-form">
                                                                        <div class="col-md-6">
                                                                     <input type="text"  name='batchid'class="form-control" value='<%=data[0].batchid%>' ></div>
                                                                      <label for="form8"> Batch:</label>
                                                                    </div>

                                                                    <div class="md-form">
                                                                        <div class="col-md-6">
                                                                     <input type="text"  name='currentdate'class="form-control" value='<%=data[0].currentdate%>' ></div>
                                                                      <label for="form8"> currentdate</label>
                                                                    </div>
                                                        <%
                                                        var d=new Date(data[0].currentdate)
                                                       if(d.getMonth()>=9)
                                                        mp=''
                                                      else
                                                        mp='0'
                        
                                                      if(d.getDate()>=9)
                                                      dp=''
                                                      else
                                                       dp='0'
                        
                                                     bd=d.getFullYear()+"-"+(mp+(d.getMonth()+1))+"-"+(dp+d.getDate());
                        
                                                       %>
                                                       
                                                      

                                                      

                                                    


                                                      <%
                                                      var d=new Date(data[0].updateon)
                                                      if(d.getMonth()>=9)
                                                      mp=''
                                                      else
                                                      mp='0'
                                                      
                                                      if(d.getDate()>=9)
                                                      dp=''
                                                      else
                                                      dp='0'
                                                      
                                                      bo=d.getFullYear()+"-"+(mp+(d.getMonth()+1))+"-"+(dp+d.getDate());
                                                      
                                                      %>
                                                      
                                                      
                                                              
                                                              <div class="text-center">
                                                               <button class="btn btn-success" value="Update" name="btn">Update</button><button class="btn btn-indigo" value="delete" name="btn">Delete</button>
                                                                   </div>
                                                          </div>
                                                          </form>
                                                        </div>
                                                          </div>

                                                        

                                                    <div class="container">
                                                     <table>
                                                       <tr>
                                                         <td>
            
                                                             <div class="col-md-2">
                                                                <div class="md-form">
                                                                   <form action='/student/updatepicture' method='post' enctype="multipart/form-data">
                                                                             <br><br><br>
                                                                                           <input type='hidden'name='transactionid' value='<%=data[0].transactionid%>'>
                                                                                         <img src='http://localhost:3000/images/<%=data[0].picture%>' width='300' height='300'><br><br>
                                                                                        <input type='file' name='picture'><br><br>
                                                                                         <button class="btn-btn-indigo" name="btn" value='Update Picture'>Update Picture</button>
                                                
                                                                   </form>
                                                                      
                                                                </div>
                                                              </div>
                                                          </td>
                                                
                                                                     
                                                       </tr>        
                                                           
                                                                       
                                                       
                                                      </table>
                                                        
                                                    </div>
                                                
                                                  <%}%> 
                                                    
                                                    <!-- Form -->
                                                  
                                                  
                                                 
                                                 <!--/.Card-->
                                    
              
                                    
                            <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
                      <!-- Bootstrap tooltips -->
                      <script type="text/javascript" src="/javascripts/popper.min.js"></script>
                      <!-- Bootstrap core JavaScript -->
                      <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
                      <!-- MDB core JavaScript -->
                      <script type="text/javascript" src="/javascripts/mdb.min.js"></script>
                      <!-- Initializations -->
                      <script type="text/javascript">
                      // Animations initialization
                      new WOW().init();
                      </script>
                      </body>
                        </center>        
                      </html>